.jumbotron{
	padding-top: 6rem;
	background-color: #f3f4f5;
}
#about{
	background-color: #f3f4f5;
}	
#project{
	background-color: #f3f4f5;
}
#contact{
	background-color: #f3f4f5;
}	
section{
	padding-top : 4rem;
}	
